@font-face {
  font-family: "chivo-reg";
  src: url(../fonts/Chivo-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "garamond";
  src: url(../fonts/CormorantGaramond-Regular.ttf);
  font-display: swap;
}

/* @font-face {
  font-family: "avant";
  src: url(../fonts/AvantGardeBookBT.ttf);
  font-display: swap;
} */

@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-Medium.ttf");
}
